const config = {
  firebase: {
    apiKey: '1232323232',
    authDomain: 'xxxxx.firebaseapp.com',
    databaseURL: 'https://xxxxx.firebaseio.com',
    projectId: 'YOUR_PROJECT_ID',
    storageBucket: '',
    messagingSenderId: '11111111111'
  },
  apiUrl: 'https://api.cmonehealth.org',
  googleMapApiKey: 'YOUR_API_KEY'
}

export default config
